<a href="https://colab.research.google.com/github/sagarbhadra7/Python-Programs/blob/master/Big_Mart_Sale.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
train_path="/content/train.csv"
test_path="/content/test.csv"
X_train=pd.read_csv(train_path)
y_test=pd.read_csv(test_path)
X_train['Set']='Train'
y_test['Set']='Test'

In [0]:
data=pd.concat([X_train,y_test])

In [283]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
Set                             0
dtype: int64

In [188]:
X_train.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [189]:
X_train.shape

(8523, 12)

In [190]:
X_train.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [0]:
category=['Item_Identifier','Item_Fat_Content','Item_Type','Outlet_Identifier','Outlet_Size','Outlet_Location_Type','Outlet_Type']
numeric=['Item_Weight','Item_Visibility','Item_MRP','Outlet_Establishment_Year','Item_Outlet_Sales']

In [192]:
X_train['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [0]:
X_train['Item_Fat_Content']=X_train['Item_Fat_Content'].replace('LF','Low Fat')
X_train['Item_Fat_Content']=X_train['Item_Fat_Content'].replace('low fat','Low Fat')

X_train['Item_Fat_Content']=X_train['Item_Fat_Content'].replace('reg','Regular')

In [194]:
X_train['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [195]:
X_train['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [196]:
X_train['Outlet_Identifier'].value_counts()

OUT027    935
OUT013    932
OUT035    930
OUT046    930
OUT049    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [277]:
X_train['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [198]:
X_train['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [199]:
X_train['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [200]:
X_train[numeric].head()

   Item_Weight  Item_Visibility  ...  Outlet_Establishment_Year  Item_Outlet_Sales
0         9.30         0.016047  ...                       1999          3735.1380
1         5.92         0.019278  ...                       2009           443.4228
2        17.50         0.016760  ...                       1999          2097.2700
3        19.20         0.000000  ...                       1998           732.3800
4         8.93         0.000000  ...                       1987           994.7052

[5 rows x 5 columns]

In [201]:
X_train[category].head()

  Item_Identifier Item_Fat_Content  ... Outlet_Location_Type        Outlet_Type
0           FDA15          Low Fat  ...               Tier 1  Supermarket Type1
1           DRC01          Regular  ...               Tier 3  Supermarket Type2
2           FDN15          Low Fat  ...               Tier 1  Supermarket Type1
3           FDX07          Regular  ...               Tier 3      Grocery Store
4           NCD19          Low Fat  ...               Tier 3  Supermarket Type1

[5 rows x 7 columns]

In [284]:
data.isnull().sum()/8523*100

Item_Identifier               0.000000
Item_Weight                  28.616684
Item_Fat_Content              0.000000
Item_Visibility               0.000000
Item_Type                     0.000000
Item_MRP                      0.000000
Outlet_Identifier             0.000000
Outlet_Establishment_Year     0.000000
Outlet_Size                  47.119559
Outlet_Location_Type          0.000000
Outlet_Type                   0.000000
Item_Outlet_Sales            66.654934
Set                           0.000000
dtype: float64

In [203]:
X_train[X_train['Outlet_Identifier']=='OUT010'].isnull().sum()

Item_Identifier                0
Item_Weight                    0
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  555
Outlet_Location_Type           0
Outlet_Type                    0
Item_Outlet_Sales              0
dtype: int64

In [204]:
X_train[X_train['Outlet_Identifier']=='OUT045'].isnull().sum()

Item_Identifier                0
Item_Weight                    0
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  929
Outlet_Location_Type           0
Outlet_Type                    0
Item_Outlet_Sales              0
dtype: int64

In [205]:
X_train[X_train['Outlet_Identifier']=='OUT017'].isnull().sum()

Item_Identifier                0
Item_Weight                    0
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  926
Outlet_Location_Type           0
Outlet_Type                    0
Item_Outlet_Sales              0
dtype: int64

In [0]:
X_train[X_train['Outlet_Identifier']=='OUT017']

In [0]:
X_train.groupby(['Outlet_Identifier','Outlet_Size','Outlet_Location_Type','Outlet_Type',]).groups

In [0]:
X_weights=data.loc[:,['Item_Identifier','Item_Weight']]
X_weights=X_weights.drop_duplicates()

In [0]:
X_weights.dropna(inplace=True)

In [287]:
X_weights.head()

  Item_Identifier  Item_Weight
0           FDA15         9.30
1           DRC01         5.92
2           FDN15        17.50
3           FDX07        19.20
4           NCD19         8.93

In [0]:
new_df=pd.merge(data, X_weights, on='Item_Identifier')

In [289]:
new_df.head()

  Item_Identifier  Item_Weight_x  ...    Set  Item_Weight_y
0           FDA15            9.3  ...  Train            9.3
1           FDA15            9.3  ...  Train            9.3
2           FDA15            9.3  ...  Train            9.3
3           FDA15            9.3  ...  Train            9.3
4           FDA15            9.3  ...  Train            9.3

[5 rows x 14 columns]

In [294]:
new_df.isnull().sum()

Item_Identifier                 0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
Set                             0
Item_Weight                     0
dtype: int64

In [0]:
new_df.drop(columns=['Item_Weight_x'],axis=1,inplace=True)

In [0]:
new_df.rename(columns={'Item_Weight_y':'Item_Weight'},inplace=True)

In [0]:
X_outlet=data.loc[:,['Outlet_Identifier','Outlet_Size','Outlet_Location_Type','Outlet_Type']]

In [296]:
X_outlet.isnull().sum()

Outlet_Identifier          0
Outlet_Size             4016
Outlet_Location_Type       0
Outlet_Type                0
dtype: int64

In [0]:
X_outlet.dropna(inplace=True)

In [297]:
X_train['Outlet_Identifier'].unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
       'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object)

In [299]:
X_outlet['Outlet_Identifier'].unique()

array(['OUT049', 'OUT018', 'OUT013', 'OUT027', 'OUT046', 'OUT035',
       'OUT019'], dtype=object)