<a href="https://colab.research.google.com/github/sagarbhadra7/Python-Programs/blob/master/Big_Mart_Sale.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
train_path="/content/train.csv"
test_path="/content/test.csv"
X_train=pd.read_csv(train_path)
y_test=pd.read_csv(test_path)

In [0]:
X_train.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [0]:
X_train.shape

(8523, 12)

In [0]:
X_train.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [0]:
category=['Item_Fat_Content','Item_Type','Outlet_Identifier','Outlet_Size','Outlet_Location_Type','Outlet_Type']
numeric=['Item_Weight','Item_Visibility','Item_MRP','Outlet_Establishment_Year','Item_Outlet_Sales']

In [0]:
X_train[category]

     Item_Fat_Content  ...        Outlet_Type
0             Low Fat  ...  Supermarket Type1
1             Regular  ...  Supermarket Type2
2             Low Fat  ...  Supermarket Type1
3             Regular  ...      Grocery Store
4             Low Fat  ...  Supermarket Type1
...               ...  ...                ...
8518          Low Fat  ...  Supermarket Type1
8519          Regular  ...  Supermarket Type1
8520          Low Fat  ...  Supermarket Type1
8521          Regular  ...  Supermarket Type2
8522          Low Fat  ...  Supermarket Type1

[8523 rows x 6 columns]

In [0]:
X_train[]