<a href="https://colab.research.google.com/github/sagarbhadra7/Python-Programs/blob/master/Pandas_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip show pandas

Name: pandas
Version: 0.25.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: http://pandas.pydata.org
Author: None
Author-email: None
License: BSD
Location: /usr/local/lib/python3.6/dist-packages
Requires: pytz, numpy, python-dateutil
Required-by: xarray, vega-datasets, statsmodels, stable-baselines, sklearn-pandas, seaborn, pymc3, plotnine, pandas-profiling, pandas-gbq, pandas-datareader, mlxtend, mizani, magenta, gspread-dataframe, google-colab, fix-yahoo-finance, featuretools, fbprophet, fastai, cufflinks, altair

In [0]:
import pandas as pd

In [0]:
list1=[1,2,3,4,5,6,7,8,9]
index=['a','b','c','d','e','f','g','h','i']

In [17]:
pd.Series(list1,index,dtype='float',name='ser1')

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    7.0
h    8.0
i    9.0
Name: ser1, dtype: float64

In [11]:
print(ser1)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

In [15]:
print(ser1.values,ser1.index)

[1 2 3 4 5 6 7 8 9] Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'], dtype='object')

In [16]:
print(ser1[2:5])

c    3
d    4
e    5
dtype: int64

In [20]:
print(ser1[['a','c','e']])

a    1
c    3
e    5
dtype: int64

In [0]:
df=pd.DataFrame(dict1,dtype=float,index=['rank1','rank2','rank3','rank4','rank5','rank6','rank7','rank8','rank9'])

In [33]:
print(df)

      name  Age
rank1    a  1.0
rank2    b  2.0
rank3    c  3.0
rank4    d  4.0
rank5    e  5.0
rank6    f  6.0
rank7    g  7.0
rank8    h  8.0
rank9    i  9.0

In [0]:
dict1={'name':index,'Age':list1}

In [35]:
print(dict1)

{'name': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'], 'Age': [1, 2, 3, 4, 5, 6, 7, 8, 9]}

In [0]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df1 = pd.DataFrame(d)

In [37]:
print(df1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [38]:
df[1:3]

      name  Age
rank2    b  2.0
rank3    c  3.0

In [0]:
df['Concate']=df['name']+str(df['Age'])

In [46]:
print(df['name'],df['Age'])

rank1    a
rank2    b
rank3    c
rank4    d
rank5    e
rank6    f
rank7    g
rank8    h
rank9    i
Name: name, dtype: object rank1    1.0
rank2    2.0
rank3    3.0
rank4    4.0
rank5    5.0
rank6    6.0
rank7    7.0
rank8    8.0
rank9    9.0
Name: Age, dtype: float64

In [48]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df2 = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df2['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df2)

print ("Adding a new column using the existing columns in DataFrame:")
df2['four']=df2['one']+df2['three']

print(df2)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [0]:
# creating an empty panel
import pandas as pd
import numpy as np

data = np.random.rand(2,4,5)
print(data)
p = pd.Panel(data)
print(p)

In [0]:
#creating an empty panel
import pandas as pd
import numpy as np

data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)), 
   'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p = pd.Panel(data)
print(p)

In [54]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print ("The axes are:",s)
print (s.axes)

The axes are: 0   -1.983455
1    1.197606
2   -0.318376
3   -0.596832
dtype: float64
[RangeIndex(start=0, stop=4, step=1)]

In [58]:
print(df.T)

     rank1 rank2 rank3 rank4 rank5 rank6 rank7 rank8 rank9
name     a     b     c     d     e     f     g     h     i
Age      1     2     3     4     5     6     7     8     9

In [59]:
print(df.axes)

[Index(['rank1', 'rank2', 'rank3', 'rank4', 'rank5', 'rank6', 'rank7', 'rank8',
       'rank9'],
      dtype='object'), Index(['name', 'Age'], dtype='object')]

In [60]:
print(df.values)

[['a' 1.0]
 ['b' 2.0]
 ['c' 3.0]
 ['d' 4.0]
 ['e' 5.0]
 ['f' 6.0]
 ['g' 7.0]
 ['h' 8.0]
 ['i' 9.0]]

In [62]:
print('Sum of age :'+str(df.sum()))

Sum of age :name    abcdefghi
Age            45
dtype: object

In [63]:
print(df.describe())

            Age
count  9.000000
mean   5.000000
std    2.738613
min    1.000000
25%    3.000000
50%    5.000000
75%    7.000000
max    9.000000